CheckersClient/CheckersCliente/Connected Services/MainService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCreador" type="xs:int" />
      <xs:element minOccurs="0" name="IdJugador" type="xs:int" />
      <xs:element minOccurs="0" name="PinConfirmacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreguntaRecuperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaConfirmacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
</xs:schema>