TestClient/WpfApp1/Connected Services/MainService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contratos" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q3:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q4:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q5:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordForgotMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerPin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="actualPlayer" nillable="true" type="q6:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="resultadoLogin" type="q7:LoginResult" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q8:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="resultadoGuardado" type="q9:SaveResult" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="player" nillable="true" type="q10:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVerifyResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="resultadoVerificacion" type="q11:VerificationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResendMailResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="resultadoCorreo" type="q12:MailResult" />
        <xs:element minOccurs="0" name="actualNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="resultadoCorreo" type="q13:MailResult" />
        <xs:element minOccurs="0" name="actualNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityQuestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPinResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="verifiedPinResult" type="q14:PinResult" />
        <xs:element minOccurs="0" name="playerNickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordChangeResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="passwordChangedResult" type="q15:PasswordChangeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendActualPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="dataObtainedResult" type="q16:DataObtainedResult" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="actualPlayer" nillable="true" type="q17:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="result" type="q18:RankingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveRankingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="rankingList" nillable="true" type="q19:ArrayOfRanking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BanPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportedPlayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataQueryResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="result" type="q20:AdminReportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="reportList" nillable="true" type="q21:ArrayOfReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="result" type="q22:BanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="currentPlayer" nillable="true" type="q23:Jugador" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="gameMode" type="q24:CheckersGameMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Player1Turn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="updateBoardMatrix" nillable="true" type="q25:ArrayOfArrayOfChecker" />
        <xs:element minOccurs="0" name="matchNumber" type="xs:int" />
        <xs:element minOccurs="0" name="playerTwoCheckers" type="xs:int" />
        <xs:element minOccurs="0" name="playerOneCheckers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Player2Turn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="updateBoardMatrix" nillable="true" type="q26:ArrayOfArrayOfChecker" />
        <xs:element minOccurs="0" name="matchNumber" type="xs:int" />
        <xs:element minOccurs="0" name="playerTwoCheckers" type="xs:int" />
        <xs:element minOccurs="0" name="playerOneCheckers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishPlayerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchNumber" type="xs:int" />
        <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
        <xs:element minOccurs="0" name="playerTwoCheckers" type="xs:int" />
        <xs:element minOccurs="0" name="playerOneCheckers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerNumberReporting" type="xs:int" />
        <xs:element minOccurs="0" name="matchNumber" type="xs:int" />
        <xs:element minOccurs="0" name="reportText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameGUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="updateBoardMatrix" nillable="true" type="q27:ArrayOfArrayOfChecker" />
        <xs:element minOccurs="0" name="playerTwoCheckers" type="xs:int" />
        <xs:element minOccurs="0" name="playerOneCheckers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerTwoCheckers" type="xs:int" />
        <xs:element minOccurs="0" name="playerOneCheckers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchmakingResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="result" type="q28:MatchmakingResult" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="match" nillable="true" type="q29:Match" />
        <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMatchNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newMatchNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveGameMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Contratos" minOccurs="0" name="reportSaveResult" type="q30:ReportSaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>